.FeaturedPost article{display:flex;align-items:center;flex-wrap:wrap;margin:0;padding:10px;position:relative;overflow:hidden}
.FeaturedPost article:after{content:&#39;&#39;;display:block;min-width:25px;padding:4px 0;background-color:#fdd929;position:absolute;top:0;right:0;border-radius:0 0 0 3px}
.FeaturedPost article .item-thumbnail{flex:0 0 auto;width:310px;margin-right:20px}
.FeaturedPost article .item-content{flex:1 0;padding:8px 8px 8px 0;width:calc(100% - 330px)}
.FeaturedPost article .item-label a:hover, .PopularPosts article .item-label a:hover, .Label li .label-title:hover{text-decoration:underline}
.FeaturedPost article .item-title{font-size:105%;line-height:1.48em}
    .FeaturedPost article .item-entry{margin-top:12px;font-size:90%}
    
